In [2]:
import pandas as pd
from sqlalchemy import *

db_path = 'postgresql://eqpytyddkgzpje:589827916509690e9baa1abd869d99bd85ac3c9902c361d04c1e560c2befd624@ec2-52-54-38-229.compute-1.amazonaws.com:5432/dap64di8scvd9n'
# db_path = 'postgresql://anniezheng@localhost/test'
eng = create_engine(db_path)

In [5]:
pd.read_sql('''select * from "Survey" order by id desc''',eng).head(10)

   id                             survey_id
0  26  52ec20ce-6c3c-4c2c-baf1-e8961e420006
1  25  b80e66b3-e8e2-47eb-a7b3-9705aa74de81
2  24  f9cd54a8-26e1-4b99-9d04-25ffdef3bf4d
3  23  f1d3198e-7c96-4b95-a945-c179fb2f8ed2
4  22  b9c67425-4636-46c4-9cb2-4f7ea03ee8d5
5  21  2d47effe-b206-49d8-8bdd-d08d34b7f75d
6  20  94179ef0-8301-49a2-86de-07f47373351b
7  19  f2c8b84f-4a54-4e77-b172-ab60e53b7cca
8  18  0db28ad9-4458-48cd-9d3c-0d84c5e1bc34
9  17  4151c11e-3824-4799-a948-e79715df0ba7

In [6]:
pd.read_sql('''select * from "Annotation";''',eng).head(10)

,id,survey_id,recording_id,source_count,user_note,practice_round
0,1,1b88c396-0fd2-4a66-9c5d-98ecf540ce4e,17,1,people on the left side,False
1,2,4d9f0f18-830e-495e-bc3f-480add601bcd,15,6,"Horn to the right, then cat then something mus...",False
2,3,934523d9-f1f7-48d3-993e-26e24dd858de,8,4,music left\ncat back\ncar horn right\nflute back,False
3,4,9add8fac-1ef2-48cc-8508-919d7a41ade2,25,9,Keys right\ndryer\npeople talking\ngato\nwind\...,False
4,5,c43ccd90-8cb1-4739-a26c-5fd18c502f3c,25,8,,False
5,6,b01f3be9-ee72-410a-ae10-e366e5df3fe4,16,2,"music left, dog back",False
6,7,ce3ffb82-153e-47ac-acdc-438224604f43,26,4,"rooster right, \ndot left, \nalarm back, \npeo...",False
7,8,c26e8f19-6ff3-46c9-8dd4-3c74149ae09b,23,4,"rooster left, music right keys, car horn(?)",False
8,9,5018c867-e72d-4acb-8b92-159b577dbef0,10,3,,False
9,10,cd2c6aa1-1263-4252-a605-a5d2f660a158,28,3,cat human engine,False

In [16]:
pd.read_sql('''select * from "Location";''',eng)

      id annotation_id  azimuth  elevation  practice_round
0      1             1      275          2           False
1      2             2       90          0           False
2      3             2       70          0           False
3      4             2       45          0           False
4      5             2       30          0           False
..   ...           ...      ...        ...             ...
146  147            44      182          1           False
147  148            44      198          4           False
148  149            44      233          3           False
149  150            44       91         -2           False
150  151            44       90         -1           False

[151 rows x 5 columns]

In [17]:
pd.read_sql('''select * from "Confirmation";''',eng)

    id  recording_id  source_id  location_id
0    1            17         47          1.0
1    2             8          4          8.0
2    3             8         36          9.0
3    4             8         71         10.0
4    5             8         31         11.0
..  ..           ...        ...          ...
69  70             5          2        126.0
70  71             5          4        127.0
71  72             5          9        128.0
72  73             5         25          NaN
73  74             5         56          NaN

[74 rows x 4 columns]

In [ ]:
pd.read_sql('''select * from "Recording" order by num_annotation desc;''',eng)

In [3]:
pd.read_sql('''select * from "Recording" order by num_annotation desc;''',eng)

,id,recording_name,file_name,num_annotation,actual_num_source
0,1,sources_3_recording_130.wav,0.wav,10,3
1,3,sources_3_recording_160.wav,2.wav,6,3
2,10,sources_2_recording_52.wav,9.wav,3,2
3,15,sources_5_recording_125.wav,14.wav,3,5
4,18,sources_10_recording_151.wav,17.wav,2,10
5,24,sources_3_recording_8.wav,23.wav,2,3
6,25,sources_8_recording_162.wav,24.wav,2,8
7,26,sources_4_recording_102.wav,25.wav,1,4
8,17,sources_1_recording_190.wav,16.wav,1,1
9,2,sources_9_recording_10.wav,1.wav,1,9
10,9,sources_8_recording_135.wav,8.wav,1,8
11,8,sources_7_recording_48.wav,7.wav,1,7
12,16,sources_2_recording_64.wav,15.wav,1,2
13,23,sources_7_recording_145.wav,22.wav,1,7
14,28,sources_4_recording_67.wav,27.wav,1,4
15,12,sources_5_recording_46.wav,11.wav,1,5
16,4,sources_1_recording_157.wav,3.wav,1,1
17,6,sources_6_recording_80.wav,5.wav,1,6
18,21,sources_8_recording_51.wav,20.wav,1,8
19,5,sources_5_recording_129.wav,4.wav,1,5
20,29,sources_9_recording_164.wav,28.wav,0,9
21,30,sources_1_recording_46.wav,29.wav,0,1
22,11,sources_4_recording_139.wav,10.wav,0,4
23,22,sources_10_recording_160.wav,21.wav,0,10
24,31,sources_3_recording_57.wav,30.wav,0,3
25,32,sources_3_recording_150.wav,31.wav,0,3
26,27,sources_6_recording_190.wav,26.wav,0,6
27,20,sources_10_recording_54.wav,19.wav,0,10
28,7,sources_6_recording_51.wav,6.wav,0,6
29,19,sources_7_recording_68.wav,18.wav,0,7
30,14,sources_9_recording_194.wav,13.wav,0,9
31,13,sources_2_recording_107.wav,12.wav,0,2